@mixin grid-order() {
	/* ======================================================== */
	/*                           ORDER                          */
	/* ======================================================== */

	/*
	 * All of the following settings are set on the row/parent
	 * of the columns.
	 */

	/*
	 * Reverse order of the row
	 */
	[grid-order="reverse"] {
		flex-direction: row-reverse;
		flex-wrap: wrap-reverse;
	}
	[grid-direction="column"][grid-order="reverse"] {
		flex-direction: column-reverse;
	}
	/*
	 * Reset the order back to normal
	 */
	[grid-order="forward"] {
		flex-direction: row;
		flex-wrap: wrap;
	}
	[grid-direction="column"][grid-order="forward"] {
		flex-direction: column;
	}
	/* @TODO: support different devices sizes
	 * so you can have a different item show up first or last
	 */

	/*
	 * used on the column
	 * allows you to move any item to the first in the list
	 */
	[order="first"] {
		order: -1;
	}
	/*
	 * used on the column
	 * allows you to move any item to the last in the list
	 */
	[order="last"] {
		order: 1;
	}
}
