@mixin grid-spacing( $style: 'fluid' ) {
	/* ======================================================== */
	/*                          SPACING                         */
	/* ======================================================== */

	/*
	 * All of the following settings are set on the row/parent
	 * of the columns.
	 */

	/*
	 * gives you calculated spacing around each column
	 */
	[grid-spacing~="gutters"] {
		margin-right: $gutter-compensation;
		margin-left: $gutter-compensation;
		> [column] {
			padding-right: $gutter-spacing;
			padding-left: $gutter-spacing;
		}
	}
	/*
	 * this is not required but available in case you need
	 * to reset spacing on a nested grid or something
	 */
	[grid-spacing="none"] > [column] {
		padding-right: 0;
		padding-left: 0;
	}
	/*
	 * provided for situations where you have floating columns
	 * such as in a 12 grid system, and you have only enough
	 * content boxes to fill 6 columns, you might want them
	 * evenly spaced out, this provides spacing on both sides
	 * of each column
	 */
	@if $style == 'flexbox' {
		[grid-spacing="even"] > [column] {
			justify-content: space-around;
		}
	}
	/*
	 * provided for situations where you have floating columns
	 * such as in a 12 grid system, and you have only enough
	 * content boxes to fill 6 columns, you might want them
	 * evenly spaced out, this only provides spacing in between
	 * the columns, leaving the first and last columns flush
	 */
	@if $style == 'flexbox' {
		[grid-spacing="justify"] > [column] {
			justify-content: space-between;
		}
	}
}
