<h2>Auto sizing</h2>
<div class="grid" grid-spacing="gutters">
	{% for i in (1..6) %}
		<div column><div class="box"></div></div>
	{% endfor %}
</div>
<div class="grid" grid-spacing="gutters">
	<div column="6"><div class="box"></div></div>
	{% for i in (1..5) %}
		<div column><div class="box"></div></div>
	{% endfor %}
</div>

{% highlight html %}
<div class="grid" grid-spacing="gutters">
    <div column></div>
    <div column></div>
    <div column></div>
    <div column></div>
    <div column></div>
    <div column></div>
</div>
<div class="grid" grid-spacing="gutters">
    <div column="6">...</div>
    <div column></div>
    <div column></div>
    <div column></div>
    <div column></div>
    <div column></div>
</div>
{% endhighlight %}
