<h3>Order</h3>
<h4>Forward</h4>
<div class="grid" grid-spacing="gutters" grid-order="forward">
	{% for i in (1..3) %}
		<div column><div class="box">{{i}}</div></div>
	{% endfor %}
</div>
{% highlight html %}
<div class="grid" grid-spacing="gutters" grid-order="forward">
    <div column>1</div>
    <div column>2</div>
    <div column>3</div>
</div>
{% endhighlight %}

<div class="grid" grid-spacing="gutters" grid-direction="column" grid-order="forward">
	{% for i in (1..3) %}
		<div column><div class="box">{{i}}</div></div>
	{% endfor %}
</div>
{% highlight html %}
<div class="grid" grid-spacing="gutters" grid-direction="column" grid-order="forward">
    <div column>1</div>
    <div column>2</div>
    <div column>3</div>
</div>
{% endhighlight %}

<h4>Reverse</h4>
<div class="grid" grid-spacing="gutters" grid-order="reverse">
	{% for i in (1..3) %}
		<div column><div class="box">{{i}}</div></div>
	{% endfor %}
</div>
{% highlight html %}
<div class="grid" grid-spacing="gutters" grid-order="reverse">
    <div column>1</div>
    <div column>2</div>
    <div column>3</div>
</div>
{% endhighlight %}

<div class="grid" grid-spacing="gutters" grid-direction="column" grid-order="reverse">
	{% for i in (1..3) %}
		<div column><div class="box">{{i}}</div></div>
	{% endfor %}
</div>
{% highlight html %}
<div class="grid" grid-spacing="gutters" grid-direction="column" grid-order="reverse">
    <div column>1</div>
    <div column>2</div>
    <div column>3</div>
</div>
{% endhighlight %}
