/* ======================================================== */
/*                         THE BASICS                       */
/* ======================================================== */
/*
 * parent container to signify its a Grid
 * this is synonymous for a row, or collection of columns
 * there is no need to specify a parent class on the entire
 * page or page container
 */
/* line 12, ../../src/sass/properties/_basics.scss */
.grid {
  box-sizing: border-box;
  overflow: hidden;
}

/*
 * the child attribute selector
 * can be an empty attribute to allow for auto-sizing or
 * include the subdivision of units as per the $column
 * setting at the top
 * this means if you want a column that is 1/2 the
 * parent width, and the $columns is set to the default
 * of 12, then you'd set the attribute to 6 (12 columns / 2)
 */
/* line 33, ../../src/sass/properties/_basics.scss */
[column],
[prefix],
[suffix],
[push],
[pull] {
  box-sizing: border-box;
  float: left;
}

/* line 50, ../../src/sass/properties/_basics.scss */
[push],
[pull] {
  position: relative;
}

/*
 * If you want to hide a column, then set the unit to '0'
 * and it won't show on the default mobile view.  This can
 * be overridden on any other responsive view
 */
/* line 60, ../../src/sass/properties/_basics.scss */
[column="0"] {
  display: none;
}

/*
 * loop through the grid columns setting to create the
 * percentages necessary to divide the page up evenly
 */
/* line 70, ../../src/sass/properties/_basics.scss */
[column~="1"] {
  width: 8.33333%;
}

/* line 78, ../../src/sass/properties/_basics.scss */
[prefix~="1"] {
  margin-left: 8.33333%;
}

/* line 81, ../../src/sass/properties/_basics.scss */
[suffix~="1"] {
  margin-right: 8.33333%;
}

/* line 84, ../../src/sass/properties/_basics.scss */
[push~="1"] {
  left: 8.33333%;
}

/* line 87, ../../src/sass/properties/_basics.scss */
[pull~="1"] {
  left: -8.33333%;
}

/* line 70, ../../src/sass/properties/_basics.scss */
[column~="2"] {
  width: 16.66667%;
}

/* line 78, ../../src/sass/properties/_basics.scss */
[prefix~="2"] {
  margin-left: 16.66667%;
}

/* line 81, ../../src/sass/properties/_basics.scss */
[suffix~="2"] {
  margin-right: 16.66667%;
}

/* line 84, ../../src/sass/properties/_basics.scss */
[push~="2"] {
  left: 16.66667%;
}

/* line 87, ../../src/sass/properties/_basics.scss */
[pull~="2"] {
  left: -16.66667%;
}

/* line 70, ../../src/sass/properties/_basics.scss */
[column~="3"] {
  width: 25%;
}

/* line 78, ../../src/sass/properties/_basics.scss */
[prefix~="3"] {
  margin-left: 25%;
}

/* line 81, ../../src/sass/properties/_basics.scss */
[suffix~="3"] {
  margin-right: 25%;
}

/* line 84, ../../src/sass/properties/_basics.scss */
[push~="3"] {
  left: 25%;
}

/* line 87, ../../src/sass/properties/_basics.scss */
[pull~="3"] {
  left: -25%;
}

/* line 70, ../../src/sass/properties/_basics.scss */
[column~="4"] {
  width: 33.33333%;
}

/* line 78, ../../src/sass/properties/_basics.scss */
[prefix~="4"] {
  margin-left: 33.33333%;
}

/* line 81, ../../src/sass/properties/_basics.scss */
[suffix~="4"] {
  margin-right: 33.33333%;
}

/* line 84, ../../src/sass/properties/_basics.scss */
[push~="4"] {
  left: 33.33333%;
}

/* line 87, ../../src/sass/properties/_basics.scss */
[pull~="4"] {
  left: -33.33333%;
}

/* line 70, ../../src/sass/properties/_basics.scss */
[column~="5"] {
  width: 41.66667%;
}

/* line 78, ../../src/sass/properties/_basics.scss */
[prefix~="5"] {
  margin-left: 41.66667%;
}

/* line 81, ../../src/sass/properties/_basics.scss */
[suffix~="5"] {
  margin-right: 41.66667%;
}

/* line 84, ../../src/sass/properties/_basics.scss */
[push~="5"] {
  left: 41.66667%;
}

/* line 87, ../../src/sass/properties/_basics.scss */
[pull~="5"] {
  left: -41.66667%;
}

/* line 70, ../../src/sass/properties/_basics.scss */
[column~="6"] {
  width: 50%;
}

/* line 78, ../../src/sass/properties/_basics.scss */
[prefix~="6"] {
  margin-left: 50%;
}

/* line 81, ../../src/sass/properties/_basics.scss */
[suffix~="6"] {
  margin-right: 50%;
}

/* line 84, ../../src/sass/properties/_basics.scss */
[push~="6"] {
  left: 50%;
}

/* line 87, ../../src/sass/properties/_basics.scss */
[pull~="6"] {
  left: -50%;
}

/* line 70, ../../src/sass/properties/_basics.scss */
[column~="7"] {
  width: 58.33333%;
}

/* line 78, ../../src/sass/properties/_basics.scss */
[prefix~="7"] {
  margin-left: 58.33333%;
}

/* line 81, ../../src/sass/properties/_basics.scss */
[suffix~="7"] {
  margin-right: 58.33333%;
}

/* line 84, ../../src/sass/properties/_basics.scss */
[push~="7"] {
  left: 58.33333%;
}

/* line 87, ../../src/sass/properties/_basics.scss */
[pull~="7"] {
  left: -58.33333%;
}

/* line 70, ../../src/sass/properties/_basics.scss */
[column~="8"] {
  width: 66.66667%;
}

/* line 78, ../../src/sass/properties/_basics.scss */
[prefix~="8"] {
  margin-left: 66.66667%;
}

/* line 81, ../../src/sass/properties/_basics.scss */
[suffix~="8"] {
  margin-right: 66.66667%;
}

/* line 84, ../../src/sass/properties/_basics.scss */
[push~="8"] {
  left: 66.66667%;
}

/* line 87, ../../src/sass/properties/_basics.scss */
[pull~="8"] {
  left: -66.66667%;
}

/* line 70, ../../src/sass/properties/_basics.scss */
[column~="9"] {
  width: 75%;
}

/* line 78, ../../src/sass/properties/_basics.scss */
[prefix~="9"] {
  margin-left: 75%;
}

/* line 81, ../../src/sass/properties/_basics.scss */
[suffix~="9"] {
  margin-right: 75%;
}

/* line 84, ../../src/sass/properties/_basics.scss */
[push~="9"] {
  left: 75%;
}

/* line 87, ../../src/sass/properties/_basics.scss */
[pull~="9"] {
  left: -75%;
}

/* line 70, ../../src/sass/properties/_basics.scss */
[column~="10"] {
  width: 83.33333%;
}

/* line 78, ../../src/sass/properties/_basics.scss */
[prefix~="10"] {
  margin-left: 83.33333%;
}

/* line 81, ../../src/sass/properties/_basics.scss */
[suffix~="10"] {
  margin-right: 83.33333%;
}

/* line 84, ../../src/sass/properties/_basics.scss */
[push~="10"] {
  left: 83.33333%;
}

/* line 87, ../../src/sass/properties/_basics.scss */
[pull~="10"] {
  left: -83.33333%;
}

/* line 70, ../../src/sass/properties/_basics.scss */
[column~="11"] {
  width: 91.66667%;
}

/* line 78, ../../src/sass/properties/_basics.scss */
[prefix~="11"] {
  margin-left: 91.66667%;
}

/* line 81, ../../src/sass/properties/_basics.scss */
[suffix~="11"] {
  margin-right: 91.66667%;
}

/* line 84, ../../src/sass/properties/_basics.scss */
[push~="11"] {
  left: 91.66667%;
}

/* line 87, ../../src/sass/properties/_basics.scss */
[pull~="11"] {
  left: -91.66667%;
}

/* line 70, ../../src/sass/properties/_basics.scss */
[column~="12"] {
  width: 100%;
}

/* line 78, ../../src/sass/properties/_basics.scss */
[prefix~="12"] {
  margin-left: 100%;
}

/* line 81, ../../src/sass/properties/_basics.scss */
[suffix~="12"] {
  margin-right: 100%;
}

/* line 84, ../../src/sass/properties/_basics.scss */
[push~="12"] {
  left: 100%;
}

/* line 87, ../../src/sass/properties/_basics.scss */
[pull~="12"] {
  left: -100%;
}

/* ======================================================== */
/*                          SPACING                         */
/* ======================================================== */
/*
 * All of the following settings are set on the row/parent
 * of the columns.
 */
/*
 * gives you calculated spacing around each column
 */
/* line 14, ../../src/sass/properties/_spacing.scss */
[grid-spacing~="gutters"] {
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}
/* line 17, ../../src/sass/properties/_spacing.scss */
[grid-spacing~="gutters"] > [column] {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

/*
 * this is not required but available in case you need
 * to reset spacing on a nested grid or something
 */
/* line 26, ../../src/sass/properties/_spacing.scss */
[grid-spacing="none"] > [column] {
  padding-right: 0;
  padding-left: 0;
}

/*
 * provided for situations where you have floating columns
 * such as in a 12 grid system, and you have only enough
 * content boxes to fill 6 columns, you might want them
 * evenly spaced out, this provides spacing on both sides
 * of each column
 */
/*
 * provided for situations where you have floating columns
 * such as in a 12 grid system, and you have only enough
 * content boxes to fill 6 columns, you might want them
 * evenly spaced out, this only provides spacing in between
 * the columns, leaving the first and last columns flush
 */
/* ======================================================== */
/*                         RESPONSIVE                       */
/* ======================================================== */
/*
 * mobile support => stack them by default
 * tablet support => 8 2 2 for columns
 * laptop support => 6 4 2 for columns
 * desktop support => 2 8 1 for columns
 * presentation support => 0 12 0 for columns
 *
 * <div class="grid" grid-spacing="gutters between">
 *   <div column="12 small="8" medium="6" large="3" xlarge="0" />
 *   <div column="12 small="2" medium="4" large="8" xlarge="12" />
 *   <div column="12 small="4" medium="2" large="1" xlarge="0" />
 * </div>
 */
@media (min-width: 319px) {
  /* line 21, ../../src/sass/properties/_responsive.scss */
  [xsmall="0"] {
    display: none;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [xsmall~="1"] {
    width: 8.33333%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [xsmall~="2"] {
    width: 16.66667%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [xsmall~="3"] {
    width: 25%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [xsmall~="4"] {
    width: 33.33333%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [xsmall~="5"] {
    width: 41.66667%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [xsmall~="6"] {
    width: 50%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [xsmall~="7"] {
    width: 58.33333%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [xsmall~="8"] {
    width: 66.66667%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [xsmall~="9"] {
    width: 75%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [xsmall~="10"] {
    width: 83.33333%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [xsmall~="11"] {
    width: 91.66667%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [xsmall~="12"] {
    width: 100%;
  }
}
@media (min-width: 479px) {
  /* line 21, ../../src/sass/properties/_responsive.scss */
  [small="0"] {
    display: none;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [small~="1"] {
    width: 8.33333%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [small~="2"] {
    width: 16.66667%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [small~="3"] {
    width: 25%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [small~="4"] {
    width: 33.33333%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [small~="5"] {
    width: 41.66667%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [small~="6"] {
    width: 50%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [small~="7"] {
    width: 58.33333%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [small~="8"] {
    width: 66.66667%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [small~="9"] {
    width: 75%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [small~="10"] {
    width: 83.33333%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [small~="11"] {
    width: 91.66667%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [small~="12"] {
    width: 100%;
  }
}
@media (min-width: 767px) {
  /* line 21, ../../src/sass/properties/_responsive.scss */
  [medium="0"] {
    display: none;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [medium~="1"] {
    width: 8.33333%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [medium~="2"] {
    width: 16.66667%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [medium~="3"] {
    width: 25%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [medium~="4"] {
    width: 33.33333%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [medium~="5"] {
    width: 41.66667%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [medium~="6"] {
    width: 50%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [medium~="7"] {
    width: 58.33333%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [medium~="8"] {
    width: 66.66667%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [medium~="9"] {
    width: 75%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [medium~="10"] {
    width: 83.33333%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [medium~="11"] {
    width: 91.66667%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [medium~="12"] {
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 21, ../../src/sass/properties/_responsive.scss */
  [large="0"] {
    display: none;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [large~="1"] {
    width: 8.33333%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [large~="2"] {
    width: 16.66667%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [large~="3"] {
    width: 25%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [large~="4"] {
    width: 33.33333%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [large~="5"] {
    width: 41.66667%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [large~="6"] {
    width: 50%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [large~="7"] {
    width: 58.33333%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [large~="8"] {
    width: 66.66667%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [large~="9"] {
    width: 75%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [large~="10"] {
    width: 83.33333%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [large~="11"] {
    width: 91.66667%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [large~="12"] {
    width: 100%;
  }
}
@media (min-width: 1223px) {
  /* line 21, ../../src/sass/properties/_responsive.scss */
  [xlarge="0"] {
    display: none;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [xlarge~="1"] {
    width: 8.33333%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [xlarge~="2"] {
    width: 16.66667%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [xlarge~="3"] {
    width: 25%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [xlarge~="4"] {
    width: 33.33333%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [xlarge~="5"] {
    width: 41.66667%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [xlarge~="6"] {
    width: 50%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [xlarge~="7"] {
    width: 58.33333%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [xlarge~="8"] {
    width: 66.66667%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [xlarge~="9"] {
    width: 75%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [xlarge~="10"] {
    width: 83.33333%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [xlarge~="11"] {
    width: 91.66667%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [xlarge~="12"] {
    width: 100%;
  }
}
@media (min-width: 1823px) {
  /* line 21, ../../src/sass/properties/_responsive.scss */
  [xxlarge="0"] {
    display: none;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [xxlarge~="1"] {
    width: 8.33333%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [xxlarge~="2"] {
    width: 16.66667%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [xxlarge~="3"] {
    width: 25%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [xxlarge~="4"] {
    width: 33.33333%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [xxlarge~="5"] {
    width: 41.66667%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [xxlarge~="6"] {
    width: 50%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [xxlarge~="7"] {
    width: 58.33333%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [xxlarge~="8"] {
    width: 66.66667%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [xxlarge~="9"] {
    width: 75%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [xxlarge~="10"] {
    width: 83.33333%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [xxlarge~="11"] {
    width: 91.66667%;
  }

  /* line 26, ../../src/sass/properties/_responsive.scss */
  [xxlarge~="12"] {
    width: 100%;
  }
}

/*# sourceMappingURL=assembler-grid.fluid.css.map */
